### 1. Setting Up

In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
import pandas as pd
import numpy as np
import os

# Record Linkage
import recordlinkage as rl
from recordlinkage.index import Block
from recordlinkage.preprocessing import clean

# Regular expression operations
import re

### 2. Preprocessing Data

In [3]:
df = pd.read_excel("data_with_more_match_IDs_2_2_20.xlsx")

In [4]:
columns_to_drop = [c for c in df.columns if 'Unnamed' in c]

In [5]:
df.drop(columns_to_drop, axis = 1, inplace = True)

In [6]:
print("There are {} columns in df.".format(len(df.columns)))
df.columns

There are 45 columns in df.

Index(['ID', 'Census.Year', 'State/Province_x', 'County_x', 'Place_x',
       'Household Joint ID', 'Joint ID for Matched Records', 'Last.Name',
       'First.Name', 'CalculatedBirthYear', 'Age', 'Sex_x',
       'Color..Race.or.Ethnicity', 'lat_x', 'long_x', 'address', 'MARITAL',
       'WARD', 'ROLL or Sheet#', 'PROFESSION_x', 'Notable_x', 'STREET',
       'PLACEOFBIRTH_x', 'RELIGION_x',
       'NOTE these only apply to narrative answers', 'LIVING W MALE FAMILY?',
       'LIVING W FEMALE FAMILY?', 'LIVING W MALE NONFAMILY?',
       'LIVING W FEMALE NONFAMILY?', 'Cannot Read', 'Cannot Write', 'Sick',
       'Relation to Head of Household',
       'Year of Immigration to Canada if an Immigrant', 'Date of Death',
       'Cause of Death', 'Rank (Military)', 'Enlistment Date',
       'Enlistment Place', 'Date Mustered Out', 'Year of this Record',
       'Last Name MATCH', 'First Name Match', 'Census Year Match',
       'Total of Matches'],
      dtype='object')

In [7]:
df['unique_id'] = df.index + 1

In [16]:
df.to_excel("20200225_MASTER_DATA.xlsx")

### 3. Duplications

In [143]:
df_dup_1 = pd.read_csv('duplications.csv')
df_dup_2 = pd.read_csv('duplications_5.csv')

In [144]:
df_dup_2['dup_pair'] = df_dup_2['dup_pair'] + 114

In [145]:
df_dup = pd.concat([df_dup_1, df_dup_2])

In [146]:
df_dup = df_dup.reset_index().drop(['index', 'Unnamed: 0'], axis = 1)

In [147]:
df_dup

,Age,CalculatedBirthYear,Cannot Read,Cannot Write,Cause of Death,Census Year Match,Census.Year,Color..Race.or.Ethnicity,County_x,Date Mustered Out,...,State/Province_x,Total of Matches,WARD,Year of Immigration to Canada if an Immigrant,Year of this Record,address,lat_x,long_x,unique_id,dup_pair
0,26.0,1835.0,NaN,NaN,NaN,NaN,1861.0,M,Hamilton,NaN,...,Ontario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,796.0,0
1,26.0,1835.0,NaN,NaN,NaN,100.0,1861.0,M,Hamilton,NaN,...,Ontario,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,827.0,0
2,27.0,1834.0,NaN,NaN,NaN,NaN,1861.0,B,Hamilton,NaN,...,Ontario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1687.0,1
3,27.0,1834.0,NaN,NaN,NaN,0.0,1861.0,B,Hamilton,NaN,...,Ontario,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,1695.0,1
4,24.0,1837.0,NaN,NaN,NaN,NaN,1861.0,B,Hamilton,NaN,...,Ontario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1828.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,30.0,1850.0,NaN,NaN,NaN,NaN,1880.0,B,SUFFOLK,NaN,...,MA,NaN,NaN,NaN,NaN,"BOSTON,SUFFOLK,MA",42.360082,-7.105888e+01,50755.0,556
1114,33.0,1847.0,3.0,2.0,1.0,NaN,1880.0,Mulatto(BlackandWhite),NaN,NaN,...,NY,NaN,0.0,0.0,NaN,5,NaN,6.090789e+09,50702.0,557
1115,33.0,1847.0,NaN,NaN,NaN,NaN,1880.0,M,KINGS,NaN,...,NY,NaN,NaN,NaN,NaN,"19-WD;BROOKLYN,KINGS,NY",40.727098,-7.393684e+01,50768.0,557
1116,5.0,1875.0,0.0,0.0,3.0,NaN,1880.0,Mulatto(BlackandWhite),NaN,NaN,...,NY,NaN,0.0,2.0,NaN,5,NaN,6.090789e+09,50718.0,558
1117,5.0,1875.0,NaN,NaN,NaN,NaN,1880.0,M,KINGS,NaN,...,NY,NaN,NaN,NaN,NaN,"19-WD;BROOKLYN,KINGS,NY",40.727098,-7.393684e+01,50791.0,558

In [148]:
joint_id = [x for x in list(df_dup['Joint ID for Matched Records'].unique()) if pd.notnull(x)]

In [149]:
joint_id

[41.0,
 616.0,
 769.0,
 '720.0',
 '927.0',
 '427.0',
 '433.0',
 '445.0',
 '47.0',
 '447.0',
 '461.0',
 '462.0',
 '511.0',
 '527.0',
 '548.0',
 '562.0',
 '?',
 '899',
 '568',
 '583',
 '586',
 '590?',
 '594',
 '907',
 '972',
 '914',
 '915',
 '698',
 '720',
 '740',
 '759',
 '775',
 '783',
 '807',
 '812',
 '818',
 '833',
 '929',
 '852']

In [150]:
df_dup[df_dup['Joint ID for Matched Records'].isin(joint_id)][['Census.Year', 
                                                               'First.Name', 'Last.Name', 
                                                               'unique_id', 'dup_pair',
                                                               'Household Joint ID']]

,Census.Year,First.Name,Last.Name,unique_id,dup_pair,Household Joint ID
46,1880.0,Dora,Crosby,10569.0,23,NaN
126,1910.0,LOUISA,LUCAS,28855.0,63,NaN
202,1920.0,ALBERT,TAYLOR,43782.0,101,NaN
203,1920.0,ALBERT,TAYLOR,43783.0,101,NaN
258,1880.0,WILLIAM,BARTLET,2477.0,129,NaN
288,1880.0,MARY,BLUME,3960.0,144,NaN
290,1880.0,MARYE.,BLUME,3961.0,145,NaN
348,1880.0,WMH,CLARK,8612.0,174,NaN
378,1880.0,WILLIAM,COOKE,9742.0,189,NaN
386,1880.0,JAMES,CURRIE,10880.0,193,NaN
394,1870.0,Joseph,Dallas,11090.0,197,NaN
398,1880.0,ALFREDG.,DAVIS,11316.0,199,NaN
412,1900.0,CHARLOTTE,DETT,12157.0,206,NaN
414,1880.0,GEORGE,DEVAL,12168.0,207,NaN
458,1880.0,MARYT.,GORDEN,17264.0,229,NaN
488,1880.0,WILLIAM,HALL,18754.0,244,NaN
540,1880.0,JOHN,HOWARD,22058.0,270,NaN
548,1910.0,JOHN,JACKSON,22878.0,274,NaN
549,1910.0,JOHN,JACKSON,22896.0,274,NaN
566,1880.0,GEORGIANA,JEFFERSON,23741.0,283,NaN
574,1880.0,MARSHAL,JEMESON,23802.0,287,NaN
590,1880.0,RICHD,JOHNSON,24010.0,295,NaN
616,1880.0,ADELINE,JONES,25404.0,308,NaN
622,1900.0,THEODORE,JONES,25424.0,311,NaN
644,1880.0,FRANCES,JOY,26169.0,322,NaN
652,1900.0,JOHN,KINGSBURY,26785.0,326,NaN
762,1900.0,SIMON,OBANYONN,33837.0,381,NaN
766,1880.0,SAMUEL,PAUL,34787.0,383,NaN
770,1880.0,CHARLOTT,PERRY,35116.0,385,NaN
800,1900.0,JOHN,RICHARDSON,37212.0,400,NaN
854,1880.0,ANNAB.,SHANE,39780.0,427,NaN
882,1880.0,JOHN,SMITH,40868.0,441,NaN
932,1880.0,ELIGAR,STEWART,42831.0,466,NaN
952,1880.0,GEORGE,TAYLOR,43795.0,476,NaN
968,1920.0,EUGENE,THOMPSON,44663.0,484,NaN
1014,1910.0,RICHARD,WARREN,47020.0,507,NaN
1022,1880.0,TERRESSA,WASHINGTON,47111.0,511,NaN
1034,1880.0,BENJAMIN,WEST,47835.0,517,NaN
1042,1880.0,LOUSIS,WILLIAMS,48579.0,521,NaN
1064,1880.0,DAVID,WILSON,49570.0,532,NaN
1066,1880.0,DAVID,WILSON,49570.0,533,NaN
1084,1880.0,JOHNH,WRIGHT,50352.0,542,NaN

In [151]:
dup_id = df_dup[df_dup['Joint ID for Matched Records'].isin(joint_id)][['Census.Year', 
                                                               'First.Name', 'Last.Name', 
                                                               'unique_id', 'dup_pair',
                                                               'Household Joint ID']]['dup_pair']

NEED TO REASSIGN:
* 769

In [152]:
dup_id_1 = set(df_dup[df_dup['Joint ID for Matched Records'].isin(joint_id)]['dup_pair'])

In [153]:
dup_id_1

{23,
 63,
 101,
 129,
 144,
 145,
 174,
 189,
 193,
 197,
 199,
 206,
 207,
 229,
 244,
 270,
 274,
 283,
 287,
 295,
 308,
 311,
 322,
 326,
 381,
 383,
 385,
 400,
 427,
 441,
 466,
 476,
 484,
 507,
 511,
 517,
 521,
 532,
 533,
 542}

In [154]:
len(dup_id_1)

40

In [155]:
dup_id_all = set(df_dup['dup_pair'].to_list())

In [156]:
dup_id_all

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558}

In [157]:
len(dup_id_all)

559

In [158]:
dup_id_2 = dup_id_all.difference(dup_id_1)

In [159]:
len(dup_id_2)

519

In [160]:
df_dup_2 = df_dup[df_dup['dup_pair'].isin(dup_id_2)]

In [217]:
df_dup['unique_id'].value_counts().to_dict()

{42909.0: 2,
 50792.0: 2,
 42952.0: 2,
 50676.0: 2,
 43036.0: 2,
 49570.0: 2,
 49638.0: 2,
 50677.0: 2,
 49791.0: 2,
 24414.0: 1,
 42146.0: 1,
 4947.0: 1,
 13634.0: 1,
 24825.0: 1,
 32939.0: 1,
 24481.0: 1,
 40842.0: 1,
 21715.0: 1,
 33230.0: 1,
 25534.0: 1,
 40506.0: 1,
 8365.0: 1,
 18539.0: 1,
 42427.0: 1,
 47042.0: 1,
 49180.0: 1,
 32504.0: 1,
 5585.0: 1,
 2477.0: 1,
 21589.0: 1,
 27375.0: 1,
 33637.0: 1,
 15035.0: 1,
 26476.0: 1,
 25642.0: 1,
 13506.0: 1,
 35753.0: 1,
 24894.0: 1,
 48736.0: 1,
 39157.0: 1,
 47039.0: 1,
 47600.0: 1,
 4715.0: 1,
 43113.0: 1,
 40052.0: 1,
 18289.0: 1,
 22984.0: 1,
 26169.0: 1,
 25814.0: 1,
 19950.0: 1,
 34502.0: 1,
 46975.0: 1,
 43311.0: 1,
 23772.0: 1,
 22982.0: 1,
 25815.0: 1,
 38654.0: 1,
 50185.0: 1,
 29983.0: 1,
 25869.0: 1,
 8777.0: 1,
 23316.0: 1,
 33837.0: 1,
 47151.0: 1,
 50420.0: 1,
 30469.0: 1,
 10641.0: 1,
 17264.0: 1,
 8242.0: 1,
 44249.0: 1,
 3503.0: 1,
 32669.0: 1,
 22155.0: 1,
 38292.0: 1,
 10569.0: 1,
 19598.0: 1,
 6310.0: 1,
 16442.0: 1,
 45570.0: 1,
 40834.0: 1,
 32931.0: 1,
 41048.0: 1,
 26017.0: 1,
 44956.0: 1,
 17957.0: 1,
 34876.0: 1,
 50183.0: 1,
 10537.0: 1,
 3074.0: 1,
 2613.0: 1,
 18961.0: 1,
 43882.0: 1,
 47067.0: 1,
 38814.0: 1,
 24530.0: 1,
 32940.0: 1,
 35676.0: 1,
 18141.0: 1,
 15922.0: 1,
 35233.0: 1,
 21483.0: 1,
 49306.0: 1,
 22130.0: 1,
 43280.0: 1,
 46976.0: 1,
 17145.0: 1,
 32096.0: 1,
 28300.0: 1,
 27701.0: 1,
 28534.0: 1,
 41938.0: 1,
 47750.0: 1,
 1809.0: 1,
 4405.0: 1,
 44743.0: 1,
 48787.0: 1,
 24231.0: 1,
 50228.0: 1,
 20355.0: 1,
 28334.0: 1,
 18869.0: 1,
 18876.0: 1,
 47783.0: 1,
 44799.0: 1,
 25667.0: 1,
 10085.0: 1,
 46979.0: 1,
 47771.0: 1,
 41122.0: 1,
 37316.0: 1,
 2969.0: 1,
 3963.0: 1,
 17811.0: 1,
 27374.0: 1,
 25830.0: 1,
 39507.0: 1,
 25709.0: 1,
 41569.0: 1,
 43908.0: 1,
 41509.0: 1,
 19067.0: 1,
 9174.0: 1,
 2083.0: 1,
 42406.0: 1,
 6737.0: 1,
 14660.0: 1,
 28314.0: 1,
 28913.0: 1,
 19603.0: 1,
 42299.0: 1,
 6883.0: 1,
 36489.0: 1,
 6599.0: 1,
 24958.0: 1,
 50454.0: 1,
 17143.0: 1,
 44903.0: 1,
 9167.0: 1,
 11448.0: 1,
 43900.0: 1,
 7146.0: 1,
 16669.0: 1,
 36324.0: 1,
 11099.0: 1,
 33310.0: 1,
 41505.0: 1,
 41850.0: 1,
 50561.0: 1,
 28874.0: 1,
 26052.0: 1,
 36665.0: 1,
 13929.0: 1,
 25872.0: 1,
 25177.0: 1,
 3028.0: 1,
 3990.0: 1,
 26136.0: 1,
 28368.0: 1,
 12170.0: 1,
 43483.0: 1,
 3080.0: 1,
 32000.0: 1,
 2192.0: 1,
 10880.0: 1,
 827.0: 1,
 39943.0: 1,
 32519.0: 1,
 8839.0: 1,
 18790.0: 1,
 43071.0: 1,
 22307.0: 1,
 37212.0: 1,
 28249.0: 1,
 14741.0: 1,
 12652.0: 1,
 39811.0: 1,
 11430.0: 1,
 3815.0: 1,
 22175.0: 1,
 27967.0: 1,
 25535.0: 1,
 18893.0: 1,
 22108.0: 1,
 14105.0: 1,
 50261.0: 1,
 34877.0: 1,
 28325.0: 1,
 15793.0: 1,
 33099.0: 1,
 11108.0: 1,
 8944.0: 1,
 29287.0: 1,
 25210.0: 1,
 8364.0: 1,
 19602.0: 1,
 24463.0: 1,
 42433.0: 1,
 26137.0: 1,
 22152.0: 1,
 4485.0: 1,
 19066.0: 1,
 32730.0: 1,
 18337.0: 1,
 49126.0: 1,
 38239.0: 1,
 42419.0: 1,
 4379.0: 1,
 17637.0: 1,
 28807.0: 1,
 25556.0: 1,
 25211.0: 1,
 19916.0: 1,
 23802.0: 1,
 11090.0: 1,
 38193.0: 1,
 23467.0: 1,
 23789.0: 1,
 39780.0: 1,
 24224.0: 1,
 39808.0: 1,
 8776.0: 1,
 393.0: 1,
 28384.0: 1,
 8800.0: 1,
 297.0: 1,
 44867.0: 1,
 25182.0: 1,
 50004.0: 1,
 3651.0: 1,
 30958.0: 1,
 38088.0: 1,
 46521.0: 1,
 33002.0: 1,
 9610.0: 1,
 25084.0: 1,
 37943.0: 1,
 36479.0: 1,
 38303.0: 1,
 30218.0: 1,
 37253.0: 1,
 18706.0: 1,
 6882.0: 1,
 24444.0: 1,
 32475.0: 1,
 45571.0: 1,
 33098.0: 1,
 24943.0: 1,
 17958.0: 1,
 47569.0: 1,
 23394.0: 1,
 36277.0: 1,
 49260.0: 1,
 50768.0: 1,
 32900.0: 1,
 18776.0: 1,
 25801.0: 1,
 12708.0: 1,
 10536.0: 1,
 14477.0: 1,
 47872.0: 1,
 1829.0: 1,
 692.0: 1,
 15036.0: 1,
 50277.0: 1,
 21871.0: 1,
 47355.0: 1,
 41047.0: 1,
 26053.0: 1,
 30440.0: 1,
 30126.0: 1,
 39814.0: 1,
 7858.0: 1,
 25562.0: 1,
 31550.0: 1,
 47782.0: 1,
 45835.0: 1,
 14694.0: 1,
 28151.0: 1,
 11381.0: 1,
 12162.0: 1,
 32905.0: 1,
 49351.0: 1,
 46614.0: 1,
 32733.0: 1,
 41508.0: 1,
 50500.0: 1,
 22896.0: 1,
 11600.0: 1,
 8684.0: 1,
 37945.0: 1,
 2394.0: 1,
 2084.0: 1,
 9186.0: 1,
 37362.0: 1,
 26142.0: 1,
 26437.0: 1,
 42825.0: 1,
 43795.0: 1,
 43279.0: 1,
 42431.0: 1,
 25723.0: 1,
 25059.0: 1,
 18798.0: 1,
 50418.0: 1,
 18026.0: 1,
 23281.0: 1,
 44980.0: 1,
 30120.0: 1,
 6811.0: 1,
 2575.0: 1,
 20039.0: 1,
 35077.0: 1,
 21133.0: 1,
 34947.0: 1,
 20306.0: 1,
 7973.0: 1,
 37133.0: 1,
 23109.0: 1,
 50557.0: 1,
 42322.0: 1,
 17284.0: 1,
 5924.0: 1,
 3079.0: 1,
 2390.0: 1,
 9187.0: 1,
 24010.0: 1,
 24491.0: 1,
 18878.0: 1,
 38478.0: 1,
 39516.0: 1,
 38156.0: 1,
 11357.0: 1,
 31425.0: 1,
 10980.0: 1,
 19764.0: 1,
 18712.0: 1,
 39042.0: 1,
 17531.0: 1,
 41602.0: 1,
 16693.0: 1,
 48486.0: 1,
 32899.0: 1,
 23468.0: 1,
 39377.0: 1,
 38185.0: 1,
 37571.0: 1,
 37994.0: 1,
 41921.0: 1,
 28374.0: 1,
 50497.0: 1,
 24669.0: 1,
 41174.0: 1,
 10893.0: 1,
 6777.0: 1,
 38785.0: 1,
 18027.0: 1,
 37260.0: 1,
 30962.0: 1,
 30208.0: 1,
 7584.0: 1,
 15872.0: 1,
 5.0: 1,
 6656.0: 1,
 25758.0: 1,
 42805.0: 1,
 48579.0: 1,
 37322.0: 1,
 45018.0: 1,
 8810.0: 1,
 48492.0: 1,
 25404.0: 1,
 43783.0: 1,
 41983.0: 1,
 49503.0: 1,
 33362.0: 1,
 31562.0: 1,
 45316.0: 1,
 8612.0: 1,
 9806.0: 1,
 7382.0: 1,
 31555.0: 1,
 29919.0: 1,
 35623.0: 1,
 27778.0: 1,
 27919.0: 1,
 14003.0: 1,
 35672.0: 1,
 25581.0: 1,
 11073.0: 1,
 32901.0: 1,
 31483.0: 1,
 35076.0: 1,
 44866.0: 1,
 8662.0: 1,
 44128.0: 1,
 3949.0: 1,
 8865.0: 1,
 5911.0: 1,
 44648.0: 1,
 39168.0: 1,
 39816.0: 1,
 32305.0: 1,
 18707.0: 1,
 49183.0: 1,
 43291.0: 1,
 39448.0: 1,
 17598.0: 1,
 16645.0: 1,
 35520.0: 1,
 41993.0: 1,
 35752.0: 1,
 23038.0: 1,
 23755.0: 1,
 40053.0: 1,
 32493.0: 1,
 8845.0: 1,
 47189.0: 1,
 23048.0: 1,
 14108.0: 1,
 9170.0: 1,
 6602.0: 1,
 21517.0: 1,
 8859.0: 1,
 9285.0: 1,
 31556.0: 1,
 42137.0: 1,
 21195.0: 1,
 46028.0: 1,
 12713.0: 1,
 25424.0: 1,
 20441.0: 1,
 11524.0: 1,
 10983.0: 1,
 30960.0: 1,
 5750.0: 1,
 2967.0: 1,
 44780.0: 1,
 35619.0: 1,
 45873.0: 1,
 30502.0: 1,
 7591.0: 1,
 41887.0: 1,
 17827.0: 1,
 22169.0: 1,
 17322.0: 1,
 28363.0: 1,
 44197.0: 1,
 50352.0: 1,
 45844.0: 1,
 10886.0: 1,
 41886.0: 1,
 15784.0: 1,
 50423.0: 1,
 45950.0: 1,
 47493.0: 1,
 18886.0: 1,
 50558.0: 1,
 17741.0: 1,
 9337.0: 1,
 5429.0: 1,
 44957.0: 1,
 18779.0: 1,
 32485.0: 1,
 8945.0: 1,
 24937.0: 1,
 33640.0: 1,
 12984.0: 1,
 22156.0: 1,
 21717.0: 1,
 35987.0: 1,
 36801.0: 1,
 22153.0: 1,
 9732.0: 1,
 6005.0: 1,
 6774.0: 1,
 12157.0: 1,
 12022.0: 1,
 28391.0: 1,
 18158.0: 1,
 44744.0: 1,
 39394.0: 1,
 49354.0: 1,
 50755.0: 1,
 29918.0: 1,
 46593.0: 1,
 31773.0: 1,
 41665.0: 1,
 37236.0: 1,
 26148.0: 1,
 45841.0: 1,
 25643.0: 1,
 49252.0: 1,
 24384.0: 1,
 32448.0: 1,
 6056.0: 1,
 1828.0: 1,
 3281.0: 1,
 24519.0: 1,
 48789.0: 1,
 11047.0: 1,
 47011.0: 1,
 44022.0: 1,
 17495.0: 1,
 36674.0: 1,
 17355.0: 1,
 44453.0: 1,
 31843.0: 1,
 14007.0: 1,
 18933.0: 1,
 50545.0: 1,
 16318.0: 1,
 39447.0: 1,
 39807.0: 1,
 28803.0: 1,
 22154.0: 1,
 50437.0: 1,
 7042.0: 1,
 39544.0: 1,
 2291.0: 1,
 30501.0: 1,
 45735.0: 1,
 21151.0: 1,
 8275.0: 1,
 42430.0: 1,
 50513.0: 1,
 18861.0: 1,
 14481.0: 1,
 4717.0: 1,
 47765.0: 1,
 31426.0: 1,
 47250.0: 1,
 24668.0: 1,
 2561.0: 1,
 17360.0: 1,
 9733.0: 1,
 45810.0: 1,
 47183.0: 1,
 43115.0: 1,
 26785.0: 1,
 39920.0: 1,
 28385.0: 1,
 50456.0: 1,
 14381.0: 1,
 50556.0: 1,
 47111.0: 1,
 34539.0: 1,
 3807.0: 1,
 42136.0: 1,
 12482.0: 1,
 28135.0: 1,
 47062.0: 1,
 13733.0: 1,
 15163.0: 1,
 7025.0: 1,
 11316.0: 1,
 23157.0: 1,
 45399.0: 1,
 29234.0: 1,
 28278.0: 1,
 23805.0: 1,
 49350.0: 1,
 32364.0: 1,
 30634.0: 1,
 20100.0: 1,
 33001.0: 1,
 38107.0: 1,
 50461.0: 1,
 29981.0: 1,
 17810.0: 1,
 9744.0: 1,
 5900.0: 1,
 12168.0: 1,
 18930.0: 1,
 48831.0: 1,
 39156.0: 1,
 31345.0: 1,
 30954.0: 1,
 23790.0: 1,
 43487.0: 1,
 23139.0: 1,
 37615.0: 1,
 46920.0: 1,
 25052.0: 1,
 20038.0: 1,
 28596.0: 1,
 39370.0: 1,
 39587.0: 1,
 14695.0: 1,
 4939.0: 1,
 6270.0: 1,
 28855.0: 1,
 44663.0: 1,
 18047.0: 1,
 50313.0: 1,
 32415.0: 1,
 11523.0: 1,
 50718.0: 1,
 32412.0: 1,
 9609.0: 1,
 26132.0: 1,
 39277.0: 1,
 36918.0: 1,
 10513.0: 1,
 49099.0: 1,
 41042.0: 1,
 6814.0: 1,
 42432.0: 1,
 3026.0: 1,
 18711.0: 1,
 26126.0: 1,
 24356.0: 1,
 31013.0: 1,
 37315.0: 1,
 13711.0: 1,
 37941.0: 1,
 10585.0: 1,
 2388.0: 1,
 2082.0: 1,
 12692.0: 1,
 6188.0: 1,
 15526.0: 1,
 24528.0: 1,
 48864.0: 1,
 24876.0: 1,
 33507.0: 1,
 42975.0: 1,
 18817.0: 1,
 28986.0: 1,
 50683.0: 1,
 25537.0: 1,
 33516.0: 1,
 42800.0: 1,
 47041.0: 1,
 7378.0: 1,
 30961.0: 1,
 37083.0: 1,
 28367.0: 1,
 40833.0: 1,
 28370.0: 1,
 25575.0: 1,
 9857.0: 1,
 23477.0: 1,
 34941.0: 1,
 28628.0: 1,
 22196.0: 1,
 47303.0: 1,
 39381.0: 1,
 8663.0: 1,
 39274.0: 1,
 39921.0: 1,
 26486.0: 1,
 40551.0: 1,
 39167.0: 1,
 41439.0: 1,
 32067.0: 1,
 44429.0: 1,
 17354.0: 1,
 46934.0: 1,
 26449.0: 1,
 19835.0: 1,
 41284.0: 1,
 2617.0: 1,
 15534.0: 1,
 4406.0: 1,
 28531.0: 1,
 48830.0: 1,
 37957.0: 1,
 39582.0: 1,
 31718.0: 1,
 36947.0: 1,
 47377.0: 1,
 18797.0: 1,
 18754.0: 1,
 47589.0: 1,
 20307.0: 1,
 26490.0: 1,
 6654.0: 1,
 44803.0: 1,
 26010.0: 1,
 24467.0: 1,
 34811.0: 1,
 6307.0: 1,
 7569.0: 1,
 40841.0: 1,
 31358.0: 1,
 25136.0: 1,
 37237.0: 1,
 25079.0: 1,
 44762.0: 1,
 22206.0: 1,
 3278.0: 1,
 50480.0: 1,
 24225.0: 1,
 38857.0: 1,
 4505.0: 1,
 3989.0: 1,
 22205.0: 1,
 22103.0: 1,
 18870.0: 1,
 50419.0: 1,
 23741.0: 1,
 5835.0: 1,
 47764.0: 1,
 5425.0: 1,
 43278.0: 1,
 31563.0: 1,
 37580.0: 1,
 37242.0: 1,
 8937.0: 1,
 2746.0: 1,
 12650.0: 1,
 46546.0: 1,
 20440.0: 1,
 39950.0: 1,
 27706.0: 1,
 21518.0: 1,
 23314.0: 1,
 25574.0: 1,
 9742.0: 1,
 34431.0: 1,
 50751.0: 1,
 47044.0: 1,
 46015.0: 1,
 20398.0: 1,
 22058.0: 1,
 35803.0: 1,
 33829.0: 1,
 32852.0: 1,
 41803.0: 1,
 8934.0: 1,
 10524.0: 1,
 22207.0: 1,
 50679.0: 1,
 49278.0: 1,
 22306.0: 1,
 11555.0: 1,
 14378.0: 1,
 45949.0: 1,
 24942.0: 1,
 44982.0: 1,
 45843.0: 1,
 25125.0: 1,
 24674.0: 1,
 7978.0: 1,
 2396.0: 1,
 24512.0: 1,
 50754.0: 1,
 42945.0: 1,
 38258.0: 1,
 2545.0: 1,
 45321.0: 1,
 17281.0: 1,
 16317.0: 1,
 41837.0: 1,
 32060.0: 1,
 38751.0: 1,
 33139.0: 1,
 21868.0: 1,
 17838.0: 1,
 49096.0: 1,
 22878.0: 1,
 19599.0: 1,
 50702.0: 1,
 35116.0: 1,
 39809.0: 1,
 28372.0: 1,
 21196.0: 1,
 8765.0: 1,
 7145.0: 1,
 33009.0: 1,
 23754.0: 1,
 21869.0: 1,
 35172.0: 1,
 37611.0: 1,
 42866.0: 1,
 3962.0: 1,
 1812.0: 1,
 3500.0: 1,
 32426.0: 1,
 28375.0: 1,
 10525.0: 1,
 16443.0: 1,
 9325.0: 1,
 13815.0: 1,
 49251.0: 1,
 44729.0: 1,
 17269.0: 1,
 23804.0: 1,
 38647.0: 1,
 39039.0: 1,
 10885.0: 1,
 43880.0: 1,
 27921.0: 1,
 40868.0: 1,
 5794.0: 1,
 14476.0: 1,
 48875.0: 1,
 12712.0: 1,
 50750.0: 1,
 14739.0: 1,
 11889.0: 1,
 8858.0: 1,
 50037.0: 1,
 42807.0: 1,
 28987.0: 1,
 41213.0: 1,
 32213.0: 1,
 12705.0: 1,
 25816.0: 1,
 27593.0: 1,
 2542.0: 1,
 27592.0: 1,
 21846.0: 1,
 28125.0: 1,
 47425.0: 1,
 38861.0: 1,
 12764.0: 1,
 42306.0: 1,
 12792.0: 1,
 49867.0: 1,
 11345.0: 1,
 27705.0: 1,
 9162.0: 1,
 39784.0: 1,
 15081.0: 1,
 37132.0: 1,
 25823.0: 1,
 42757.0: 1,
 50505.0: 1,
 50039.0: 1,
 38752.0: 1,
 12691.0: 1,
 9317.0: 1,
 10591.0: 1,
 32906.0: 1,
 7155.0: 1,
 33483.0: 1,
 37030.0: 1,
 32474.0: 1,
 22988.0: 1,
 21601.0: 1,
 21486.0: 1,
 4382.0: 1,
 11074.0: 1,
 12020.0: 1,
 17317.0: 1,
 32990.0: 1,
 31015.0: 1,
 2479.0: 1,
 9590.0: 1,
 39815.0: 1,
 26170.0: 1,
 12690.0: 1,
 42321.0: 1,
 50791.0: 1,
 24875.0: 1,
 24493.0: 1,
 41572.0: 1,
 50560.0: 1,
 7824.0: 1,
 3950.0: 1,
 3960.0: 1,
 697.0: 1,
 8864.0: 1,
 2085.0: 1,
 23751.0: 1,
 33129.0: 1,
 47604.0: 1,
 20302.0: 1,
 42403.0: 1,
 25557.0: 1,
 41996.0: 1,
 6103.0: 1,
 38479.0: 1,
 44991.0: 1,
 33222.0: 1,
 18030.0: 1,
 18169.0: 1,
 26474.0: 1,
 45403.0: 1,
 41954.0: 1,
 48741.0: 1,
 11894.0: 1,
 23325.0: 1,
 26789.0: 1,
 39810.0: 1,
 47427.0: 1,
 27820.0: 1,
 28878.0: 1,
 45009.0: 1,
 42754.0: 1,
 44073.0: 1,
 25092.0: 1,
 44860.0: 1,
 22178.0: 1,
 14664.0: 1,
 15860.0: 1,
 20304.0: 1,
 13505.0: 1,
 45814.0: 1,
 44149.0: 1,
 34434.0: 1,
 3075.0: 1,
 11610.0: 1,
 10084.0: 1,
 47426.0: 1,
 31567.0: 1,
 32932.0: 1,
 47020.0: 1,
 21870.0: 1,
 44730.0: 1,
 43073.0: 1,
 32666.0: 1,
 9586.0: 1,
 34241.0: 1,
 48883.0: 1,
 41341.0: 1,
 39926.0: 1,
 41138.0: 1,
 15082.0: 1,
 35273.0: 1,
 50703.0: 1,
 35357.0: 1,
 18962.0: 1,
 13816.0: 1,
 31769.0: 1,
 7896.0: 1,
 11048.0: 1,
 3652.0: 1,
 6057.0: 1,
 23363.0: 1,
 50268.0: 1,
 34787.0: 1,
 25653.0: 1,
 25910.0: 1,
 33093.0: 1,
 15902.0: 1,
 33095.0: 1,
 22979.0: 1,
 24233.0: 1,
 35988.0: 1,
 42821.0: 1,
 28369.0: 1,
 17948.0: 1,
 3275.0: 1,
 27875.0: 1,
 44990.0: 1,
 29286.0: 1,
 30957.0: 1,
 11578.0: 1,
 13734.0: 1,
 41217.0: 1,
 34228.0: 1,
 37085.0: 1,
 1695.0: 1,
 2283.0: 1,
 18537.0: 1,
 23176.0: 1,
 27874.0: 1,
 22107.0: 1,
 5621.0: 1,
 7915.0: 1,
 37018.0: 1,
 28095.0: 1,
 11107.0: 1,
 18815.0: 1,
 39813.0: 1,
 41342.0: 1,
 11095.0: 1,
 28141.0: 1,
 41748.0: 1,
 23806.0: 1,
 31444.0: 1,
 49681.0: 1,
 27966.0: 1,
 6275.0: 1,
 33499.0: 1,
 33830.0: 1,
 10509.0: 1,
 24492.0: 1,
 ...}

In [222]:
unique_id_to_consider = list({42909.0: 2,
 50792.0: 2,
 42952.0: 2,
 50676.0: 2,
 43036.0: 2,
 49570.0: 2,
 49638.0: 2,
 50677.0: 2}.keys())

In [223]:
unique_id_to_consider

[42909.0, 50792.0, 42952.0, 50676.0, 43036.0, 49570.0, 49638.0, 50677.0]

In [224]:
dup_id_3 = set(df_dup[df_dup['unique_id'].isin(unique_id_to_consider)]['dup_pair'].to_list())

In [225]:
dup_id_3

{467, 468, 469, 532, 533, 534, 553, 554, 555}

In [226]:
df_dup_3 = df_dup[df_dup['dup_pair'].isin(dup_id_3)]

In [227]:
df_dup_3

,Age,CalculatedBirthYear,Cannot Read,Cannot Write,Cause of Death,Census Year Match,Census.Year,Color..Race.or.Ethnicity,County_x,Date Mustered Out,...,State/Province_x,Total of Matches,WARD,Year of Immigration to Canada if an Immigrant,Year of this Record,address,lat_x,long_x,unique_id,dup_pair
934,28.0,1852.0,1.0,1.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,3,NaN,5.787627e+09,42909.0,467
935,28.0,1852.0,2.0,2.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,5,NaN,6.170205e+09,42952.0,467
936,28.0,1852.0,1.0,1.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,3,NaN,5.787627e+09,42909.0,468
937,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,CAYUGA,NaN,...,NY,NaN,NaN,NaN,NaN,"9-WD;AUBURN,CAYUGA,NY",42.943800,-7.654354e+01,43036.0,468
938,28.0,1852.0,2.0,2.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,5,NaN,6.170205e+09,42952.0,469
939,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,CAYUGA,NaN,...,NY,NaN,NaN,NaN,NaN,"9-WD;AUBURN,CAYUGA,NY",42.943800,-7.654354e+01,43036.0,469
1064,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,0.0,0.0,NaN,6,NaN,7.552079e+09,49570.0,532
1065,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,221.0,0.0,NaN,32,NaN,7.552093e+09,49638.0,532
1066,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,0.0,0.0,NaN,6,NaN,7.552079e+09,49570.0,533
1067,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,LUCAS,NaN,...,OH,NaN,NaN,NaN,NaN,"3-WD;TOLEDO,LUCAS,OH",41.638225,-8.360661e+01,49791.0,533
1068,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,221.0,0.0,NaN,32,NaN,7.552093e+09,49638.0,534
1069,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,LUCAS,NaN,...,OH,NaN,NaN,NaN,NaN,"3-WD;TOLEDO,LUCAS,OH",41.638225,-8.360661e+01,49791.0,534
1106,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,800.0,0.0,NaN,15,NaN,5.909892e+09,50676.0,553
1107,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,801.0,0.0,NaN,1,NaN,5.910158e+09,50677.0,553
1108,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,800.0,0.0,NaN,15,NaN,5.909892e+09,50676.0,554
1109,30.0,1850.0,NaN,NaN,NaN,NaN,1880.0,B,ERIE,NaN,...,NY,NaN,NaN,NaN,NaN,"4-WD;BUFFALO,ERIE,NY",42.902324,-7.863376e+01,50792.0,554
1110,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,801.0,0.0,NaN,1,NaN,5.910158e+09,50677.0,555
1111,30.0,1850.0,NaN,NaN,NaN,NaN,1880.0,B,ERIE,NaN,...,NY,NaN,NaN,NaN,NaN,"4-WD;BUFFALO,ERIE,NY",42.902324,-7.863376e+01,50792.0,555

In [228]:
dup_id_2 = dup_id_2.difference(dup_id_3)

In [229]:
len(dup_id_2)

512

In [230]:
df_dup_2 = df_dup[df_dup['dup_pair'].isin(dup_id_2)]

In [231]:
df_dup_2.shape

(1024, 47)

In [232]:
unique_id_to_delete = df_dup_2[df_dup_2.index % 2 != 1]['unique_id'].to_list()

In [233]:
len(unique_id_to_delete)

512

In [163]:
df_new = pd.read_excel("20200226_MASTER_DATA.xlsx")

In [234]:
df_new[df_new['unique_id'].isin(unique_id_to_delete)]

,ID,Census.Year,State/Province_x,County_x,Place_x,Household Joint ID,Joint ID for Matched Records,Last.Name,First.Name,CalculatedBirthYear,...,Rank (Military),Enlistment Date,Enlistment Place,Date Mustered Out,Year of this Record,Last Name MATCH,First Name Match,Census Year Match,Total of Matches,unique_id
2236,3686,1880,NY,ERIE,4-WD;BUFFALO,3,NaN,FIELDS,MARYANN,1832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2329,NaN,1861,Ontario,London,London District 1,78,NaN,Gray,A,1811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297
2348,Matson,1880,Ohio,Clark,Springfield,6?,NaN,Ford,Retta,1858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
2630,1880 IPUMS 100% sample,1880,PA,NaN,Philadephia,NaN,NaN,ADLEY,SUSANE.,1859,...,5900,1230,NaN,NaN,NaN,0,0,0,FALSE,692
2732,NaN,1861,Ontario,Hamilton,St. George's Ward,NaN,NaN,Alexander,Maria,1835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50648,1880 IPUMS 100% sample,1880,MA,NaN,Boston,NaN,NaN,YOUNG,CHARLESF.,1850,...,5900,1230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50683
50667,1880 IPUMS 100% sample,1880,NY,NaN,Brooklyn New York,NaN,NaN,YOUNG,HENRYA.,1847,...,1000,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50702
50668,1880 IPUMS 100% sample,1880,NY,NaN,New York,NaN,NaN,YOUNG,JAMES,1851,...,5900,1230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50703
50683,1880 IPUMS 100% sample,1880,NY,NaN,Brooklyn New York,NaN,NaN,YOUNG,RICHARD,1875,...,3100,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50718
50715,20564,1930,DE,NEWCASTLE,WILMINGTON,NaN,NaN,YOUNG,ALICE,1895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50750

In [242]:
df_adj = df_new[~df_new['unique_id'].isin(unique_id_to_delete)]

In [247]:
df_dup_3

,Age,CalculatedBirthYear,Cannot Read,Cannot Write,Cause of Death,Census Year Match,Census.Year,Color..Race.or.Ethnicity,County_x,Date Mustered Out,...,State/Province_x,Total of Matches,WARD,Year of Immigration to Canada if an Immigrant,Year of this Record,address,lat_x,long_x,unique_id,dup_pair
934,28.0,1852.0,1.0,1.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,3,NaN,5.787627e+09,42909.0,467
935,28.0,1852.0,2.0,2.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,5,NaN,6.170205e+09,42952.0,467
936,28.0,1852.0,1.0,1.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,3,NaN,5.787627e+09,42909.0,468
937,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,CAYUGA,NaN,...,NY,NaN,NaN,NaN,NaN,"9-WD;AUBURN,CAYUGA,NY",42.943800,-7.654354e+01,43036.0,468
938,28.0,1852.0,2.0,2.0,1.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,0.0,0.0,NaN,5,NaN,6.170205e+09,42952.0,469
939,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,CAYUGA,NaN,...,NY,NaN,NaN,NaN,NaN,"9-WD;AUBURN,CAYUGA,NY",42.943800,-7.654354e+01,43036.0,469
1064,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,0.0,0.0,NaN,6,NaN,7.552079e+09,49570.0,532
1065,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,221.0,0.0,NaN,32,NaN,7.552093e+09,49638.0,532
1066,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,0.0,0.0,NaN,6,NaN,7.552079e+09,49570.0,533
1067,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,LUCAS,NaN,...,OH,NaN,NaN,NaN,NaN,"3-WD;TOLEDO,LUCAS,OH",41.638225,-8.360661e+01,49791.0,533
1068,28.0,1852.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,OH,NaN,221.0,0.0,NaN,32,NaN,7.552093e+09,49638.0,534
1069,28.0,1852.0,NaN,NaN,NaN,NaN,1880.0,B,LUCAS,NaN,...,OH,NaN,NaN,NaN,NaN,"3-WD;TOLEDO,LUCAS,OH",41.638225,-8.360661e+01,49791.0,534
1106,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,800.0,0.0,NaN,15,NaN,5.909892e+09,50676.0,553
1107,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,801.0,0.0,NaN,1,NaN,5.910158e+09,50677.0,553
1108,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,800.0,0.0,NaN,15,NaN,5.909892e+09,50676.0,554
1109,30.0,1850.0,NaN,NaN,NaN,NaN,1880.0,B,ERIE,NaN,...,NY,NaN,NaN,NaN,NaN,"4-WD;BUFFALO,ERIE,NY",42.902324,-7.863376e+01,50792.0,554
1110,30.0,1850.0,0.0,0.0,5.0,NaN,1880.0,Black,NaN,NaN,...,NY,NaN,801.0,0.0,NaN,1,NaN,5.910158e+09,50677.0,555
1111,30.0,1850.0,NaN,NaN,NaN,NaN,1880.0,B,ERIE,NaN,...,NY,NaN,NaN,NaN,NaN,"4-WD;BUFFALO,ERIE,NY",42.902324,-7.863376e+01,50792.0,555

In [214]:
set(unique_id_to_delete).difference(set_)

{49638.0}

In [272]:
unique_id_to_delete_2 = [42909.0, 42952.0, 50676.0, 50677.0]

In [274]:
df_final = df_adj[~df_adj['unique_id'].isin(unique_id_to_delete_2)]

In [248]:
dup_id_1

{23,
 63,
 101,
 129,
 144,
 145,
 174,
 189,
 193,
 197,
 199,
 206,
 207,
 229,
 244,
 270,
 274,
 283,
 287,
 295,
 308,
 311,
 322,
 326,
 381,
 383,
 385,
 400,
 427,
 441,
 466,
 476,
 484,
 507,
 511,
 517,
 521,
 532,
 533,
 542}

In [279]:
df_final['unique_id']

0          107
1          678
2          679
3        47667
4        47668
         ...
50804    50845
50805    50846
50806    50847
50807    50848
50808    50849
Name: unique_id, Length: 50293, dtype: int64

In [282]:
df_dup['Household Joint ID'].unique()

array([nan, '3.0', '78.0', '6?'], dtype=object)

In [290]:
df_final['unique_id'] = df_final.index + 1

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [291]:
df_final['unique_id']

0            1
1            2
2            3
3            4
4            5
         ...
50804    50805
50805    50806
50806    50807
50807    50808
50808    50809
Name: unique_id, Length: 50293, dtype: int64

In [292]:
df_final.to_excel("20200225_MASTER_DATA_REVISED.xlsx")