In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')

%matplotlib inline

In [2]:

df_1880 = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1880_from_1880_1900.csv')
df_1880.head()

C:\Users\57325\AppData\Local\Temp\ipykernel_3672\1513702908.py:1: DtypeWarning: Columns (130,140,150,326,341,344,345,375,377,378,379,380,381,382) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1880 = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1880_from_1880_1900.csv')

,Unnamed: 0.1,Unnamed: 0,rectype,year,sample,serial,numprec,subsamp,hhwtreg,dwsize,...,us1880e_1132,us1880e_1133,us1880e_1134,us1880e_1135,us1880e_1136,us1880e_1137,us1880e_1138,us1880e_1139,us1880e_1140,us1880e_1141
0,21,22,H,1880,1880 100% database,383439,7,38,1,7,...,1,0,1,8226,1,6,0.43,0,0,0
1,27,28,H,1880,1880 100% database,426308,8,9,1,9999,...,1,0,0,4112,1,6,0.00,0,0,0
2,37,38,H,1880,1880 100% database,475226,3,14,1,9999,...,1,0,0,2673,1,2,0.57,0,0,0
3,38,39,H,1880,1880 100% database,475252,7,70,1,9999,...,1,0,0,2721,1,7,0.52,0,0,0
4,46,47,H,1880,1880 100% database,519735,5,17,1,9999,...,1,1,0,3180,1,1,0.43,0,0,0

In [3]:
df_1880.shape

(2248, 396)

In [4]:

df_1900 = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1900_from_1880_1900.csv')
df_1900.head()

C:\Users\57325\AppData\Local\Temp\ipykernel_3672\3019635155.py:1: DtypeWarning: Columns (7,99,131,265,271,279,283,284,290) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1900 = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1900_from_1880_1900.csv')

,Unnamed: 0.1,Unnamed: 0,rectype,year,sample,serial,numprec,subsamp,hhwtreg,region,...,us1900m_1077,us1900m_1078,us1900m_1079,us1900m_1080,us1900m_1081,us1900m_1082,us1900m_1083,us1900m_1084,us1900m_1085,us1900m_1086
0,18,19,H,1900,1900 100% database,110663,6,57,1,East South Central Division,...,245.0,79581119,960,JONAS S,JONAS S,MOTEN,MOTEN,NaN,H,R
1,22,23,H,1900,1900 100% database,140747,3,41,1,East South Central Division,...,239.0,79725685,1020,BOB,BOB,BROWN,BROWN,NaN,F,R
2,28,29,H,1900,1900 100% database,223762,12,4,1,East South Central Division,...,202.0,734255,2090,NED,NED,BARGANIER,BARGANIER,NaN,F,R
3,29,30,H,1900,1900 100% database,223972,6,61,1,East South Central Division,...,78.0,735340,980,LOVE,LOVE,MEANS,MEANS,F,F,O
4,31,32,H,1900,1900 100% database,236354,29,65,1,East South Central Division,...,166.0,34605996,1930,JOHN W,JOHN W,CONNALLY,CONNALLY,NaN,NaN,NaN

In [5]:
df_1900.shape

(2121, 301)

In [8]:
df_1880.shape

(2248, 396)

Columns to keep: year, serial, stateicp, city, famsize, eldch, yngch, age, sex, race, bpl, occ1950, namelast, namefrst, bplstr, histid, pid.

In [6]:
sub_1880 = df_1880.loc[:, ['year', 'serial', 'stateicp', 'us1880e_0071', 'countynhg', 'yrstcounty', 'stcounty', 'countyicp', 'famsize', 'eldch', 'yngch', 'age', 'sex', 'race', 'bpl', 'occ1950', 'namelast', 'namefrst', 'bplstr', 'histid', 'us1880e_0108']]

sub_1900 = df_1900.loc[:, ['year', 'serial', 'stateicp', 'us1900m_0045', 'stcounty', 'countyicp', 'famsize', 'eldch', 'yngch', 'age', 'sex', 'race', 'bpl', 'occ1950', 'namelast', 'namefrst', 'bplstr', 'histid', 'imageid']]

In [7]:
print(sub_1880.shape)
print(sub_1900.shape)

(2248, 21)
(2121, 19)

In [15]:
sub_1880.rename(columns = {'us1880e_0071': 'city', 'us1880e_0108': 'pid'}, inplace = True)

sub_1900.rename(columns = {'us1900m_0045': 'city', 'imageid': 'pid'}, inplace = True)

In [29]:
new_sub = pd.merge(sub_1880, 
                   sub_1900, 
                   on = ['year', 'serial', 'stateicp', 'city', 'famsize', 'eldch', 'yngch', 'age', 'sex', 'race', 'bpl', 'occ1950', 'namelast', 'namefrst', 'bplstr', 'histid', 'pid'], 
                   how = 'outer'
                   )
new_sub.shape

(4369, 17)

In [30]:
new_sub.columns

Index(['year', 'serial', 'stateicp', 'city', 'famsize', 'eldch', 'yngch',
       'age', 'sex', 'race', 'bpl', 'occ1950', 'namelast', 'namefrst',
       'bplstr', 'histid', 'pid'],
      dtype='object')

In [31]:
new_sub.head(5)

,year,serial,stateicp,city,famsize,eldch,yngch,age,sex,race,bpl,occ1950,namelast,namefrst,bplstr,histid,pid
0,1880,383439,Arkansas,BIG ROCK,6 family members present,15,3,36,Male,Mulatto,Canada,Carpenters,WALLACE,HENRY,CANADA,d61c52ce-9753-4559-9235-b54ebdc44547,01254054-2-0264-0806-$
1,1880,426308,California,OAKLAND,8 family members present,9,2,40,Male,Mulatto,Missouri,"Painters, construction and maintenance",KYER,CHARLES J.,MO,161e51f4-f31f-4a8a-9a54-5f1627acefef,01254061-1-0136-1756-$
2,1880,475226,California,SAN RAFAEL,3 family members present,NaN,NaN,43,Male,Black/African American/Negro,Canada,Taxicab drivers and chauffers,BROM,DANIEL,CAN,b3f9906c-e396-4435-90c0-72e9c1f43177,01254068-1-0080-0959-$
3,1880,475252,California,SAN RAFAEL,7 family members present,14,1,40,Male,Black/African American/Negro,Canada,"Farm laborers, wage workers",TALBOT,ARTHUR,CAN,7ee3ec94-fb88-4978-b7d5-8150e0163f0a,01254068-1-0081-1092-$
4,1880,519735,California,SAN FRANCISCO,4 family members present,18,18,43,Female,White,Argentina,Keeps house/housekeeping at home/housewife,BAYLEY,EMILE P.,BUENOS AYRES,7899c3f7-c939-4cfe-9734-39e3951469c5,01254073-1-0246-4060-$

#### Multiple columns about city, so which one to extract?
city, us1850c_0043, us1850c_0053 etc.

In [37]:
new_sub.shape

(4369, 17)

In [38]:
new_sub.to_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1880_1900.csv', index = False)

In [40]:
pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1880_1900.csv').shape

(4369, 17)

In [17]:
sub_1880.to_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1880.csv', index = False)

In [19]:
sub_1900.to_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1900.csv', index = False)