### In this file, we can reorder the matching records from datasets to help us more easily verify the matching correctness

In [19]:
import pandas as pd

In [20]:
ds1_with_matchings = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1850_matching.csv')
ds2_with_matchings = pd.read_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1860_matching.csv')

In [21]:
ds1_with_matchings_ordered = ds1_with_matchings.sort_values(by = "matching_id")
ds1_with_matchings_ordered

,year,serial,stateicp,city,famsize,eldch,yngch,age,sex,race,...,namefrst,bplstr,histid,pid,countynhg,yrstcounty,stcounty,countyicp,matching_id,matching_certainty
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Yes
20,1850.0,1275183.0,Maine,Not in identifiable city (or size group),7 family members present,5,Less than 1 year old,30,Male,Mulatto,...,WILLIAM P,"PENNSYLVANIA, UNITED STATES",988f0dd3-8fa2-4cce-b115-cfaed2517bf1,0273-0026900-0130,2300290.0,1.850020e+09,230290.0,290.0,1.0,Yes
175,1850.0,1275026.0,Maine,Not in identifiable city (or size group),4 family members present,Less than 1 year old,Less than 1 year old,26,Female,Blank (white),...,ELIZA,IRELAND,9cf035bc-5cb4-4f20-8bd3-fde237e9da2e,0273-0024400-0240,2300290.0,1.850020e+09,230290.0,290.0,2.0,Yes
69,1850.0,3684688.0,Wisconsin,"Racine, WI",4 family members present,7,6,24,Male,Mulatto,...,RICHARD H,KENTUCKY,0cdd28cb-fdf5-48c0-a74b-e70ef040e6d8,1004-0011000-0150,5501010.0,1.850251e+09,551010.0,1010.0,3.0,Yes
51,1850.0,2197243.0,New York,Not in identifiable city (or size group),7 family members present,20,7,56,Male,Black/African American/Negro,...,AUSTIN,VIRGINIA,c1a3638c-57c9-4e0c-b1b8-b0eadac5179c,0571-0037600-0090,3600690.0,1.850131e+09,360690.0,690.0,4.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,1850.0,3641252.0,Vermont,Not in identifiable city (or size group),9 family members present,NaN,NaN,7,Female,Blank (white),...,ELISABETH,VERMONT,ad71c8bb-02a2-4417-86bf-61ec000f7818,0930-0011400-0230,5000270.0,1.850060e+09,500270.0,270.0,NaN,NaN
392,1850.0,3641252.0,Vermont,Not in identifiable city (or size group),9 family members present,NaN,NaN,2,Female,Blank (white),...,LOUISA L,VERMONT,77b78a80-1f2c-47ad-8eeb-99b2fa4efa54,0930-0011400-0240,5000270.0,1.850060e+09,500270.0,270.0,NaN,NaN
393,1850.0,3641252.0,Vermont,Not in identifiable city (or size group),9 family members present,44,44,63,Female,Blank (white),...,MARY,CONNECTICUT,f3d3fbc1-aab4-48e1-be47-2483a8548f76,0930-0011400-0260,5000270.0,1.850060e+09,500270.0,270.0,NaN,NaN
394,1850.0,3684688.0,Wisconsin,"Racine, WI",4 family members present,7,6,26,Female,Mulatto,...,MARY A,MARYLAND,a5f252fe-c2c4-4078-a11e-dde87dff7e77,1004-0011000-0160,5501010.0,1.850251e+09,551010.0,1010.0,NaN,NaN
395,1850.0,3684688.0,Wisconsin,"Racine, WI",4 family members present,NaN,NaN,7,Male,Mulatto,...,JOHN S,INDIANA,349a02fb-cf62-4337-9ace-11ac623254f8,1004-0011000-0170,5501010.0,1.850251e+09,551010.0,1010.0,NaN,NaN

In [22]:
ds2_with_matchings_ordered = ds2_with_matchings.sort_values(by = "matching_id")
ds2_with_matchings_ordered

,year,serial,stateicp,city,famsize,eldch,yngch,age,sex,race,...,namelast,namefrst,bplstr,histid,countynhg,yrstcounty,stcounty,countyicp,matching_id,matching_certainty
350,1860,2015233,Michigan,Not in identifiable city (or size group),8 family members present,21,9,43,Female,Mulatto,...,GRONDIN,THERRESSA,CANADA,74F80868-BA92-40B3-AB30-23C851F50289,2601095,1860230970,260970,970,0.0,Yes
18,1860,1565973,Maine,"Bangor, ME",2 family members present,NaN,NaN,40,Male,Black/African American/Negro,...,ALBERT,HENRY,NEW BRUNSWICK,56AAAAC9-A814-4948-BF49-3E9E8D44B4AB,2300190,1860020190,230190,190,1.0,Yes
76,1860,2044975,Michigan,Not in identifiable city (or size group),4 family members present,16,8,36,Male,White,...,SEYMOUR,MILES H,NEW YORK,13EABA9D-B521-432B-840C-FD835A2E155F,2600770,1860230770,260770,770,2.0,Yes
27,1860,1750113,Massachusetts,"New Bedford, MA",6 family members present,22,11,59,Male,White,...,COOK,THOMAS,RHODE ISLAND,7F9F00C6-BDFD-48CD-A75F-BE3338A3BA13,2500050,1860030050,250050,50,3.0,Yes
36,1860,1780251,Massachusetts,"Salem, MA",13 family members present,26,8,50,Male,Mulatto,...,SHERMAN,JAMES L,NOVA SCOTIA,D4A5212A-1F67-4794-87C6-BF1B9AA197EF,2500090,1860030090,250090,90,4.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,1860,4593823,Rhode Island,"Newport, RI",2 family members present,NaN,NaN,11,Male,Black/African American/Negro,...,WILLIAMS,CHARLES H,RHODE ISLAND,F73AB599-C13B-4383-A0E5-34FE700F4713,4400050,1860050050,440050,50,NaN,NaN
680,1860,4603490,Rhode Island,Not in identifiable city (or size group),6 family members present,11,6,32,Female,White,...,ANGELL,VASHTI W,RHODE ISLAND,C66F7019-A06C-4190-A6C6-B27888E1D977,4400070,1860050070,440070,70,NaN,NaN
681,1860,4603490,Rhode Island,Not in identifiable city (or size group),6 family members present,NaN,NaN,11,Female,White,...,ANGELL,ELLEN J,RHODE ISLAND,0B3C961A-0519-47C4-A9D6-3682EA0F1FDC,4400070,1860050070,440070,70,NaN,NaN
682,1860,4936995,Vermont,Not in identifiable city (or size group),3 family members present,15,15,48,Female,White,...,HOWARD,LUCINDA,VERMONT,78BF38C5-D74D-4469-9B71-FEF567204ED8,5000070,1860060070,500070,70,NaN,NaN
683,1860,4946600,Vermont,Not in identifiable city (or size group),2 family members present,NaN,NaN,52,Female,White,...,NASON,CELINDA,CANADA,62565A6A-0C78-49DC-BFDE-40DB2D2C42FD,5000110,1860060110,500110,110,NaN,NaN

In [23]:
ds1_with_matchings_ordered.to_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1850_matching.csv', index = False)

In [24]:
ds2_with_matchings_ordered.to_csv('C:/Columbia_University/Research/History_African_American_Migration_Pattern/US_MLP_datasets/1860_matching.csv', index = False)